.App
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  width: 100vw
  height: 100vh

  font-family: 'Proxima Nova', sans-serif

  .App_Logo
    width: 40vw

  .App_Logo__slogan
    font-size: 1em
    position: relative
    bottom: 1.5em
    left: 7.5em


  .App_Logo--Sendgrid
    width: 10vw

  .App__builtfor
    margin-top: 4em
    display: flex
    flex-direction: row
    align-items: start

  .App__Availability
    margin-top: 5em
    font-size: 1.5em
